<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sequi placeat accusamus, voluptatem similique iusto debitis aliquam ut error iste id assumenda maiores neque eligendi est fugiat ullam reprehenderit. Neque!</p>
        
        <li><h1>Trabajo 2</h1> - <h3>(years)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sequi placeat accusamus, voluptatem similique iusto debitis aliquam ut error iste id assumenda maiores neque eligendi est fugiat ullam reprehenderit. Neque! </p>
        
        <li><h1>Trabajo 3</h1> - <h3>(years)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sequi placeat accusamus, voluptatem similique iusto debitis aliquam ut error iste id assumenda maiores neque eligendi est fugiat ullam reprehenderit. Neque!</p>
        </ul>

    </div>

</div>
