.row {
  background: #040411;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
footer {
  color: #fefefe;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px -2px 5px #999;
}
