.row {
  padding: 20px;
  background-color: #040411;
  color: white;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
h1 {
  color: white;
}
.contenedor {
  width: auto;
}
.parte1, .parte2 {
  display: inline-block;
  text-align: justify;
}
.img-proyecto {
  box-shadow: 10px 10px 30px white;
}
/*codigo boostrap prueba*/
.offset-lg-1 {
    margin-left: 8.33333333%;
  }
.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
.offset-md-1 {
  margin-left: 8.33333333%;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-sm-12 {
  flex: 0 0 auto;
  width: 100%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
/*termina bootstrap*/
